﻿@model Model.Department.DepartmentModel
@{
    ViewData["Title"] = "EditDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Cập nhật Phòng ban</h1>

        <div class="form-group"></div>
        <form id="CreateRole" action="#" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="col-lg-12 col-xl-8">
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Công ty<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <select asp-for="CompanyId" class="form-control listCompany" asp-items="@ViewBag.GetListCompanyForCombo">
                            <option>Chọn...</option>
                        </select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Mã phòng ban<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <input asp-for="DepartmentCode" class="form-control" type="text" placeholder="Mã phòng ban" />
                        <span asp-validation-for="DepartmentCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Tên phòng ban<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <input asp-for="DepartmentName" class="form-control" type="text" placeholder="Tên phòng ban" />
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>

        <div class="h3 mb-2 row">
            <div class="col-md-12 col-lg-6">
                <a href="@Url.Action("Departments", "Department")" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Quay lại</span>
                </a>
                <a class="btn btn-success btn-icon-split" onclick="UpdateDepartment()">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Cập nhật</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (){
        $(".listCompany").select2({
            placeholder: "Chọn...",
            allowClear: true
        });
    });

    function UpdateDepartment() {
        var lstIdStr = 'DepartmentCode,DepartmentName';
        if (!RequireValidate(lstIdStr)) {
            toastr.error('Bạn chưa nhập đủ thông tin.');
            return;
        };

        var formData = new FormData();
        formData.append("CompanyId", $("#CompanyId").val());
        formData.append("Id", $("#Id").val());
        formData.append("DepartmentCode", $("#DepartmentCode").val());
        formData.append("DepartmentName", $("#DepartmentName").val());
        formData.append("__RequestVerificationToken", _token);
        postAjax('@Url.Action("UpdateDepartment")', formData, function (data) {
            if (data.code == "200") {
                setTimeout(
                    function () {
                        location.href = '/danh-sach-phong-ban';
                    }, 1000);
            }
        });
    }
</script>


